# Dependencies
node_modules/
package-lock.json

# VS Code extension specific
*.vsix
.vscode-test/

# Build output
out/
dist/

# IDE specific files
.vscode/
*.code-workspace

# Logs
logs/
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db
